{% extends 'base.html.twig' %}
{% block addSheets %}

    <link rel="stylesheet" href="shopcss/StyleShop.css">
{% endblock %}
{% block body %}
    {{ include('association/Sectionassociation.html.twig') }}
    <br><br>
    <p style="font-size: 40px">Fired up? Ready for change? Then help move the world </p>
    <p style="font-size: 40px"> support our current campaigns to stop animal cruelty and suffering today.</p>

    <div class="tab-pane fade show active"id="Dog"role="tabpanel">
        <div class="tab-single">
            <div class="row">
                <!--Start-->

                <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                    <div class="single-product">
                        <div class="product-img">
                            <a href="#">
                                <img style="width:300px;height:300px;" src="shopimages/AssTunis1.jpg" class="main-img" alt="#">

                            </a>

                        </div>
                        <div class="product-title">
                            <h3><a href="">Protection des animaux de Tunis</a></h3>

                        </div>
                    </div>
                </div>
                <!----->
                <!--Start-->
                <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                    <div class="single-product">
                        <div class="product-img">
                            <a href="#">
                                <img style="width:300px;height:300px;" src="shopimages/logo-bien-etre-animal.png" class="main-img" alt="#">

                            </a>

                        </div>
                        <div class="product-title">
                            <h3><a href="">Conseil Bruxellois Du Bien-Etre ANIMAL</a></h3>

                        </div>
                    </div>
                </div>
                <!----->
                <!--Start-->
                <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                    <div class="single-product">
                        <div class="product-img">
                            <a href="#">
                                <img style="width:300px;height:300px;" src="shopimages/logo-SNDA.jpg" class="main-img" alt="#">

                            </a>

                        </div>
                        <div class="product-title">
                            <h3 class="old"><a href="">SNDA</a></h3>

                        </div>
                    </div>
                </div>
                <!----->
                <!--Start-->
                <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                    <div class="single-product">
                        <div class="product-img">
                            <a href="#">
                                <img style="width:300px;height:300px;" src="shopimages/logo_welfarm.png" class="main-img" alt="#">

                            </a>

                        </div>
                        <div class="product-title">
                            <h3 class="old"><a href="">WelFarm</a></h3>

                        </div>
                    </div>
                </div>
                <!----->
                <!--Start-->
                <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                    <div class="single-product">
                        <div class="product-img">
                            <a href="#">
                                <img style="width:300px;height:300px;" src="shopimages/logo-wwf.jpg" class="main-img" alt="#">

                            </a>

                        </div>
                        <div class="product-title">
                            <h3 class="old"><a href="">WWF</a></h3>

                        </div>
                    </div>
                </div>
                <!----->
                <!--Start-->
                <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                    <div class="single-product">
                        <div class="product-img">
                            <a href="#">
                                <img style="width:300px;height:300px;" src="shopimages/adaf-association-de-defense-des-animaux-flottais.png" class="main-img" alt="#">

                            </a>

                        </div>
                        <div class="product-title">
                            <h3 class="old"><a href="">ADAF</a></h3>

                        </div>
                    </div>
                </div>
                <!----->
                <!--Start-->
                <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                    <div class="single-product">
                        <div class="product-img">
                            <a href="#">
                                <img style="width:300px;height:300px;" src="shopimages/1200px-Logo-ASPAS.jpg" class="main-img" alt="#">

                            </a>

                        </div>
                        <div class="product-title">
                            <h3 class="old"><a href="">ASPAS</a></h3>

                        </div>
                    </div>
                </div>
                <!----->
                <!--Start-->
                <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                    <div class="single-product">
                        <div class="product-img">
                            <a href="#">
                                <img style="width:300px;height:300px;" src="shopimages/R6ffee968fb85e15b6f48ea7330f772c7.jfif" class="main-img" alt="#">

                            </a>

                        </div>
                        <div class="product-title">
                            <h3 class="old"><a href="">SS.A.D.F</a></h3>

                        </div>
                    </div>
                </div>
                <!----->
                <br><br>
                <table class="table">
                    <td style="font-size: 30px"><br><br><p>Support our current campaigns and help to create a world where animal suffering is never acceptable
                            Throughout our history, our supporters have campaigned to make life better for animals – persuading governments, international bodies, companies, communities and individuals to get serious about protecting animals. Thanks to our supporters, we’ve made life better for billions of animals. We’ve stopped animal cruelty around the world. And we continue to speak up and speak out every day – with support from people like you, who know that change is always possible.</p></td>
                    <td><br> <img  src="shopimages/action.jpeg" class="main-img" alt="#"></td>
                </table>
               <!---->
                <div class="container">
                    <h2 class="new-title"> WHAT'S NEW ? </h2>
                    <div class="news-content">
                        <a class="news-box" href="#">
                            <div class="parent"><div class="child1"></div></div>
                            <h1 class="news-h1">JCI Bizerte : Get Your Pet Vaccinated ! </h1>
                            <p>"Be Sure To Attend Our Next Event 25/7/2021 Where We'll Be Offering Free Vaccine For All Your Pets" -JCI President</p>
                            <div class="news-date">july 10,2021</div>
                        </a>
                        <a class="news-box" href="#">
                            <div class="parent"><div class="child2"></div></div>
                            <h1 class="news-h1">World's First Cat House  ! </h1>
                            <p>"We're Happy To Annouce Our Biggest Project So Far : A House Dedicated For Cats And Cat Lovers" </p>
                            <div class="news-date">july 5,2021</div>
                        </a>
                        <a class="news-box" href="#">
                            <div class="parent"><div class="child3"></div></div>
                            <h1 class="news-h1">A Park to Walk With Your Pets !  </h1>
                            <p>"Help Us Collect Funds For This New Project : A Park In "Centre Urbain Nord" " -JCI President</p>
                            <div class="news-date">july 3,2021</div>
                        </a>
                        <a class="news-box" href="#">
                            <div class="parent"><div class="child4"></div></div>
                            <h1 class="news-h1">New Items In The Shop !! </h1>
                            <p>Check Out Our Recent Additions In the Shop Section !!</p>
                            <div class="news-date">july 1,2021</div>
                        </a></div></div>

{%  endblock %}