{% extends 'base.html.twig' %}
{% block addSheets %}

    <link rel="stylesheet" href="shopcss/StyleShop.css">
{% endblock %}
{% block body %}
    {{ include('association/Sectionassociation.html.twig') }}
    <br><br>
    <p style="font-size: 40px">Fired up? Ready for change? Then help move the world </p>
    <p style="font-size: 40px"> support our current campaigns to stop animal cruelty and suffering today.</p>
    <div class="container">
        <div class="card">
            <div class="imgBx">
                <img src="associationsImages/1.jpg">
            </div>
            <div class="content">
                <h2>Antidote Europe</h2>
                <p>
                    Antidote Europe s’oppose à l’expérimentation animale pour des raisons strictement scientifiques. Elle oeuvre pour informer sur les dégâts que cette pratique provoque sur la santé humaine et sur l’environnement et promouvoir des méthodes véritablement scientifiques.
                    www.antidote-europe.org</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="imgBx">
                <img src="associationsImages/2.jpg">
            </div>
            <div class="content">
                <h2>Alliance Anticorrida</h2>
                <p>
                    Fondée en 1994, l’Alliance Anticorrida oeuvre pour abolir les sévices infligés aux taureaux et chevaux de corrida. Elle a notamment fait interdire le « Taureau à la corde » et plusieurs corridas qui produisaient des enfants toreros. L’Alliance Anticorrida met également en œuvre des recours juridiques contre toute activité tauromachique contraire à la législation en vigueur.
                    www.allianceanticorrida.fr</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="card">
            <div class="imgBx">
                <img src="associationsImages/3.jpg">
            </div>
            <div class="content">
                <h2>AFAAD</h2>
                <p>
                    Fondée en 2015, l’AFAAD oeuvre exclusivement sur le sujet des abattoirs. Elle défend le développement des abattoirs mobiles en France ou encore le maintien des abattoirs de proximité. Ses travaux se mènent systématiquement en concertation et en co-construction avec les acteurs de la filière engagés et en faveur d’une meilleure prise en charge de la souffrance et du stress des animaux lors de l’abattage.
                    www.afaad.net</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="imgBx">
                <img src="associationsImages/4.jpg">
            </div>
            <div class="content">
                <h2>Antidote Europe</h2>
                <p>
                    Antidote Europe s’oppose à l’expérimentation animale pour des raisons strictement scientifiques. Elle oeuvre pour informer sur les dégâts que cette pratique provoque sur la santé humaine et sur l’environnement et promouvoir des méthodes véritablement scientifiques.
                    www.antidote-europe.org</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="imgBx">
                <img src="associationsImages/5.jpg">
            </div>
            <div class="content">
                <h2>ASPAS (Association pour la protection des animaux sauvages)</h2>
                <p>
                    L’ASPAS oeuvre depuis 1986 pour la protection de la nature, la protection de la faune sauvage, pour la préservation du patrimoine naturel et pour la défense des droits des usagers de la nature.
                    Elle mène des campagnes d’information pour mobiliser l’opinion publique et interpeller les élus . Elle réalise des expositions, des diaporamas et édite des guides et brochures pour sensibiliser le grand public à la nécessité de protéger les milieux et les espèces.
                    www.aspas-nature.org

                </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="card">
            <div class="imgBx">
                <img src="associationsImages/6.jpg">
            </div>
            <div class="content">
                <h2>C’est Assez !</h2>
                <p>
                    L’association C’est Assez ! oeuvre pour mettre fin au massacre des mammifères marins dans le monde et particulièrement ceux du Japon en lien direct avec l’approvisionnement des delphinariums. Elle dénonce l’imposture des delphinariums et veut obtenir leur fermeture progressive en Europe et la réhabilitation de tous les cétacés captifs dans des sanctuaires marins.
                    www.cestassez.fr</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="imgBx">
                <img src="associationsImages/7.jpg">
            </div>
            <div class="content">
                <h2>CIWF France (Compassion In World Farming)</h2>
                <p>
                    CIWF est une ONG internationale  créée en 1967 par un éleveur laitier. CIWF promeut le bien-être des animaux d’élevage oeuvre afin pour la fin de l’élevage industriel. Elle met en évidence les liens existants entre bien-être animal, santé publique, sécurité alimentaire et problématiques environnementales.
                    www.ciwf.fr</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="imgBx">
                <img src="associationsImages/8.jpg">
            </div>
            <div class="content">
                <h2>CNSPA (Confédération Nationale des SPA)</h2>
                <p>
                    La Confédération Nationale des SPA de France, fondée en 1926 représente et soutient 260 refuges gérés par des associations autonomes, présentes sur 94 départements. Ces refuges prennent en charge 180 000 animaux chaque année.
                    www.cnspa.fr</p>
            </div>
        </div>
    </div>
                <!----->
                <br><br>
                <table class="table">
                    <td style="font-size: 30px"><br><br><p>Support our current campaigns and help to create a world where animal suffering is never acceptable
                            Throughout our history, our supporters have campaigned to make life better for animals – persuading governments, international bodies, companies, communities and individuals to get serious about protecting animals. Thanks to our supporters, we’ve made life better for billions of animals. We’ve stopped animal cruelty around the world. And we continue to speak up and speak out every day – with support from people like you, who know that change is always possible.</p></td>
                    <td><br> <img  src="shopimages/action.jpeg" class="main-img" alt="#"></td>
                </table>
               <!---->


{%  endblock %}