*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto',sans-serif;
}

body{
    background-image: url("public/shopimages/background.jpg");
}
.row{
    display: flex;
    height: 88%;
    align-items: center;
}
.col{
    flex-basis: 50%;

}


button{
    width: 180px;
    color: #000;
    font-size: 12px;
    padding: 12px 0;
    background: #fff;
    border:0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
}
.card1{
    background-image:url("public/shopimages/aqua.png");


}

.card3{
    background-image:url("public/shopimages/fish.png");
}

.card:hover{
    transform: translateY(-10px);
}
h5{
    color: #fff;
    text-shadow:0 0 5px #999;
}
.card p{
    text-shadow:0 0 15px #000;
}
.card{
    width: 200px;
    height:230px;
    display:inline-block;
    border-radius:10px;
    padding: 100px 100px;
    box-sizing:border-box;
    cursor:pointer;
    margin:10px 15px;

    background-position:center ;
    background-size:cover;
    trasition:transform 0.5s;
}

