<!--hero Image-->

<Section>
    <div class="banner" style="background-image: url('https://i.ytimg.com/vi/iPj_Vf8gKjU/maxresdefault.jpg');background-size: cover;background-repeat: no-repeat;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 ml-auto order-md-2 align-self-start">
                    <div class="banner-content" style="">
                        <h2 class="first-title">A pet at Home is a must</h2>
                        <h1>Welcome</h1>
                        <p>You can find yours beloved with us.</p>
                        <a href="{{ path('petsList') }}" class="btn btn-hero">Adopt Now</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</Section>
<!--End of Hero -->
<!-- Banner Section Begin -->
<div class="category-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
                <div class="category-alone">
                    <img src="https://th.bing.com/th/id/Ra9fd538d7738108a18ac3a5d48175a26?rik=zAFzy2O3Y2bSYg&pid=ImgRaw" class="img-fluid"alt="">
                    <div class="inner">
                        <h4>Love</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="category-alone">
                    <img src="https://th.bing.com/th/id/OIP.kEQkh7_I7ssI3PSoOquIIgHaD4?pid=ImgDet&rs=1" class="img-fluid" alt="">
                    <div class="inner">
                        <h4>Affection</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="category-alone">
                    <img src="https://th.bing.com/th/id/Rae694a38d507cda3e96979d9c431af3f?rik=4uVYuOTlk%2fKPmw&pid=ImgRaw" class="img-fluid"alt="">
                    <div class="inner">
                        <h4>Mystery</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Section End -->

<section>
    <div class="product-panel">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h2 class="text-center" style="font-family: 'Pattaya', sans-serif">Pets for Adoption</h2>
                    </div>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-12">
                    <div class="product-detail">
                        <div class="nav-main">
                            <!---Tab Sec-->
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab"href="#Fish"
                                       role="tab">Fish</a></li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab"href="#Cat"
                                       role="tab">Cat</a></li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab"href="#Dog"
                                       role="tab">Dog</a></li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab"href="#Bird"
                                       role="tab">Bird</a></li>
                            </ul>
                        </div>
                        <!--End of Tabs-->
                        <div class="tab-content" id="myTabContent">
