
.couverture {
    width: 1345px;
    height: 300px;
    margin-bottom: 25px;
}
.destrib{
    display: grid;
    grid-gap: 50px ;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 350px;

}
.cont{
    display: grid;
    grid-gap: 50px 50px ;
    grid-template-columns: 1fr;
    grid-template-rows: 250px 50px;
    background-color: #d4d4d4;
    text-align: center;
    border-radius: 8px;
}
.image{

    border-radius: 50%;
    padding: 5px;
    width: 375px

}
.artic{
    display: grid;
    grid-template-columns: 5fr 2fr ;
    grid-gap: 50px;
}
.titre{
    color: #04d2d2;
    text-align: center;
}
h2{

    color:#d541ef ;text-decoration: #ffe822 underline;padding-left: 25px;
    padding-top: 25px;


}
p{
    margin-left: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
