@media only screen and (min-width: 981px) {
.et_header_style_centered #logo {
    max-height: 94%;
}
}

div.w2dc-content .w2dc-pull-left {
    float: none !important;
}

div.w2dc-categories-columns, div.w2dc-categories-columns a, div.w2dc-categories-columns a:hover, div.w2dc-categories-columns a:visited, div.w2dc-categories-columns a:focus {
  color: #ffffff;
border: none;
    border-radius: 2px;
}

.w2dc-content .w2dc-form-control {
border: none;
  border-radius: 2px;
}

#mailpoet_form_1 .mailpoet_text, #mailpoet_form_1 .mailpoet_textarea {
    width: 220px;
    border: none;
    padding: 10px;
}
p.mailpoet_paragraph input.mailpoet_submit {
background-color: #fafafa;
border: none;
padding: 10px 20px;
text-transform: uppercase;
color: #444;
}