{% extends 'base.html.twig' %}

{% block title %}Cat{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="Stylesheet" href="shopcss/StyleCat.css">
{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>CAT</h1>
            <p>Lorem ipsum sdolor sit amet,
                consectetur adipisicing elit.
                Alias aliquid at blanditiis consequatur earum labore,
                magni minus necessitatibus nostrum odit porro sit,
                ullam voluptatibus.
                Aperiam dolorem minus perferendis quis recusandae?
            </p>
            <button type="button" class="btn btn-secondary">Explore</button>
        </div>

        <table>
            <tr>

                <td class="card card1" onclick="location.href='CatFood.php';"></td>

                <td class="card card2" onclick="location.href='CatTransport.php';"></td>
    </div>
    </tr>
    <tr >
        <td class="card card3" onclick="location.href='CatAccessories.php';"> </td>
        <td class="card card4" onclick="location.href='CatProducts.php';"> </td>
    </tr>

    </table>
</div>
</div>
{% endblock %}