<div class="tab-pane fade show active"id="Cat"role="tabpanel">
    <div class="tab-single">
        <div class="row">
            <!--Start-->
            <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                <div class="single-product">
                    <div class="product-img">
                        <a href="#">
                            <img src="shopimages/cat.jpg" class="main-img" alt="#">

                        </a>
                        <div class="button-head">
                            <div class="action-button">
                                <a data-toggle="modal" data-target="#exampleModal"
                                   title="Quick view" href="#">
                                    <i class="far fa-eye"></i><span>Quick Shop</span>
                                </a>
                                <a title="Wishlist"href="#"><i class="far fa-heart"></i>
                                    <span>Add to Wishlist</span></a>
                                <a title="shopping"href="#"><i class="fas fa-shopping-bag"></i>
                                    <span>Adopt Now</span></a>

                            </div>
                            <div class="button-low">
                                <a title="Add to cart" href="#">Add to cart</a>
                            </div>
                        </div>
                    </div>
                    <div class="product-title">
                        <h3><a href="">Lorem Ipsum</a></h3>
                        <div class="product-price">
                            <span>$25-00</span>
                        </div>
                    </div>
                </div>
            </div>
            <!----->
            <!--Start-->
            <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                <div class="single-product">
                    <div class="product-img">
                        <a href="#">
                            <img src="shopimages/cat.jpg" class="main-img" alt="#">

                        </a>
                        <div class="button-head">
                            <div class="action-button">
                                <a data-toggle="modal" data-target="#exampleModal"
                                   title="Quick view" href="#">
                                    <i class="far fa-eye"></i><span>Quick Shop</span>
                                </a>
                                <a title="Wishlist"href="#"><i class="far fa-heart"></i>
                                    <span>Add to Wishlist</span></a>
                                <a title="shopping"href="#"><i class="fas fa-shopping-bag"></i>
                                    <span>Buy Now</span></a>

                            </div>
                            <div class="button-low">
                                <a title="Add to cart" href="#">Add to cart</a>
                            </div>
                        </div>
                    </div>
                    <div class="product-title">
                        <h3><a href="">Lorem Ipsum</a></h3>
                        <div class="product-price">
                            <span>$25-00</span>
                        </div>
                    </div>
                </div>
            </div>
            <!----->
            <!--Start-->
            <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                <div class="single-product">
                    <div class="product-img">
                        <a href="#">
                            <img src="shopimages/cat.jpg" class="main-img" alt="#">

                        </a>
                        <div class="button-head">
                            <div class="action-button">
                                <a data-toggle="modal" data-target="#exampleModal"
                                   title="Quick view" href="#">
                                    <i class="far fa-eye"></i><span>Quick Shop</span>
                                </a>
                                <a title="Wishlist"href="#"><i class="far fa-heart"></i>
                                    <span>Add to Wishlist</span></a>
                                <a title="shopping"href="#"><i class="fas fa-shopping-bag"></i>
                                    <span>Buy Now</span></a>

                            </div>
                            <div class="button-low">
                                <a title="Add to cart" href="#">Add to cart</a>
                            </div>
                        </div>
                    </div>
                    <div class="product-title">
                        <h3 class="old"><a href="">Lorem Ipsum</a></h3>
                        <div class="product-price">
                            <span>$25-00</span>
                        </div>
                    </div>
                </div>
            </div>
            <!----->
            <!--Start-->
            <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                <div class="single-product">
                    <div class="product-img">
                        <a href="#">
                            <img src="shopimages/cat.jpg" class="main-img" alt="#">

                        </a>
                        <div class="button-head">
                            <div class="action-button">
                                <a data-toggle="modal" data-target="#exampleModal"
                                   title="Quick view" href="#">
                                    <i class="far fa-eye"></i><span>Quick Shop</span>
                                </a>
                                <a title="Wishlist"href="#"><i class="far fa-heart"></i>
                                    <span>Add to Wishlist</span></a>
                                <a title="shopping"href="#"><i class="fas fa-shopping-bag"></i>
                                    <span>Buy Now</span></a>

                            </div>
                            <div class="button-low">
                                <a title="Add to cart" href="#">Add to cart</a>
                            </div>
                        </div>
                    </div>
                    <div class="product-title">
                        <h3><a href="">Lorem Ipsum</a></h3>
                        <div class="product-price">
                            <span>$25-00</span>
                        </div>
                    </div>
                </div>
            </div>
            <!----->
            <!--Start-->
            <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                <div class="single-product">
                    <div class="product-img">
                        <a href="#">
                            <img src="shopimages/cat.jpg" class="main-img" alt="#">

                        </a>
                        <div class="button-head">
                            <div class="action-button">
                                <a data-toggle="modal" data-target="#exampleModal"
                                   title="Quick view" href="#">
                                    <i class="far fa-eye"></i><span>Quick Shop</span>
                                </a>
                                <a title="Wishlist"href="#"><i class="far fa-heart"></i>
                                    <span>Add to Wishlist</span></a>
                                <a title="shopping"href="#"><i class="fas fa-shopping-bag"></i>
                                    <span>Buy Now</span></a>

                            </div>
                            <div class="button-low">
                                <a title="Add to cart" href="#">Add to cart</a>
                            </div>
                        </div>
                    </div>
                    <div class="product-title">
                        <h3><a href="">Lorem Ipsum</a></h3>
                        <div class="product-price">
                            <span>$25-00</span>
                        </div>
                    </div>
                </div>
            </div>
            <!----->
            <!--Start-->
            <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                <div class="single-product">
                    <div class="product-img">
                        <a href="#">
                            <img src="shopimages/cat.jpg" class="main-img" alt="#">

                        </a>
                        <div class="button-head">
                            <div class="action-button">
                                <a data-toggle="modal" data-target="#exampleModal"
                                   title="Quick view" href="#">
                                    <i class="far fa-eye"></i><span>Quick Shop</span>
                                </a>
                                <a title="Wishlist"href="#"><i class="far fa-heart"></i>
                                    <span>Add to Wishlist</span></a>
                                <a title="shopping"href="#"><i class="fas fa-shopping-bag"></i>
                                    <span>Buy Now</span></a>

                            </div>
                            <div class="button-low">
                                <a title="Add to cart" href="#">Add to cart</a>
                            </div>
                        </div>
                    </div>
                    <div class="product-title">
                        <h3><a href="">Lorem Ipsum</a></h3>
                        <div class="product-price">
                            <span>$25-00</span>
                        </div>
                    </div>
                </div>
            </div>
            <!----->
            <!--Start-->
            <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                <div class="single-product">
                    <div class="product-img">
                        <a href="#">
                            <img src="shopimages/cat.jpg" class="main-img" alt="#">

                        </a>
                        <div class="button-head">
                            <div class="action-button">
                                <a data-toggle="modal" data-target="#exampleModal"
                                   title="Quick view" href="#">
                                    <i class="far fa-eye"></i><span>Quick Shop</span>
                                </a>
                                <a title="Wishlist"href="#"><i class="far fa-heart"></i>
                                    <span>Add to Wishlist</span></a>
                                <a title="shopping"href="#"><i class="fas fa-shopping-bag"></i>
                                    <span>Buy Now</span></a>

                            </div>
                            <div class="button-low">
                                <a title="Add to cart" href="#">Add to cart</a>
                            </div>
                        </div>
                    </div>
                    <div class="product-title">
                        <h3><a href="">Lorem Ipsum</a></h3>
                        <div class="product-price">
                            <span>$25-00</span>
                        </div>
                    </div>
                </div>
            </div>
            <!----->
            <!--Start-->
            <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                <div class="single-product">
                    <div class="product-img">
                        <a href="#">
                            <img src="shopimages/cat.jpg" class="main-img" alt="#">

                        </a>
                        <div class="button-head">
                            <div class="action-button">
                                <a data-toggle="modal" data-target="#exampleModal"
                                   title="Quick view" href="#">
                                    <i class="far fa-eye"></i><span>Quick Shop</span>
                                </a>
                                <a title="Wishlist"href="#"><i class="far fa-heart"></i>
                                    <span>Add to Wishlist</span></a>
                                <a title="shopping"href="#"><i class="fas fa-shopping-bag"></i>
                                    <span>Buy Now</span></a>

                            </div>
                            <div class="button-low">
                                <a title="Add to cart" href="#">Add to cart</a>
                            </div>
                        </div>
                    </div>
                    <div class="product-title">
                        <h3><a href="">Lorem Ipsum</a></h3>
                        <div class="product-price">
                            <span>$25-00</span>
                        </div>
                    </div>
                </div>
            </div>
            <!----->
        </div>
    </div>
</div>
<!--End of Single Tab-->