{% extends 'base.html.twig' %}
{% block body %}
{{ include ('shop/Section.html.twig') }}
<h2>food</h2>
            <div class="row">
                <div class="col-sm-12">
                    <div class="product-detail">


                        <div class="tab-content" id="myTabContent">
                            <div class="container">
                                <div class="row">
                                    {% for product in products %}
                                        {% if product.type == "food" and product.animal == "dog" %}
                                        <div class="card col-2 m-2" style="width: 18rem;">
                                            <div class="card-body" style="background-image: url("product.image")">
                                                <h5 class="card-title">Product Details</h5>
                                                <h6 class="card-subtitle mb-2 text-muted">{{ product.name }}</h6>
                                                <p class="card-text">{{ product.price }} DT</p>
                                                    <div class="action-button">
                                                        <a data-toggle="modal" data-target="#exampleModal"
                                                           title="Quick view" href="#">
                                                            <i class="far fa-eye"></i><span>Quick Shop</span>
                                                        </a>
                                                    </div>

                                            </div>
                                         </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
{%  endblock %}




























































