{% extends 'base1.html.twig' %}
{% block body %}
{{ include ('shop/Section.html.twig') }}
            <div class="row">
                <div class="col-sm-12">
                    <div class="product-detail">


                        <div class="tab-content" id="myTabContent">
                            <div class="container">
                                <div class="row">

                                        <div class="card col-2 m-2" style="width: 18rem;">
                                            <div class="card-body">
                                                <h5 class="card-title">Product Details</h5>
                                                <h6 class="card-subtitle mb-2 text-muted">ilef</h6>
                                                <p class="card-text">zaineb</p>
                                                <p class="card-text">kefi</p>
                                                <div class="button-head">
                                                    <div class="action-button">
                                                        <a data-toggle="modal" data-target="#exampleModal"
                                                           title="Quick view" href="#">
                                                            <i class="far fa-eye"></i><span>Quick Shop</span>
                                                        </a>
                                                        <a title="Wishlist"href="#"><i class="far fa-heart"></i>
                                                            <span>Add to Wishlist</span></a>
                                                        <a title="shopping"href="#"><i class="fas fa-shopping-bag"></i>
                                                            <span>Adopt Now</span></a>

                                                    </div>
                                                    <div class="button-low">
                                                        <a title="Add to cart" href="#">Add to cart</a>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                </div>
                            </div>
                        </div>


{%  endblock %}




























































