{% extends 'base.html.twig' %}
{% block body %}
<div class="bg-light p-3">
    <h1>Votre panier</h1>
</div>*
    {% if items | length >0 %}
        <table class="table">
            <thread>
                <tr>
                    <th>Produit</th>
                    <th>Prix</th>
                    <th>Quantité</th>
                    <th>Total</th>

                </tr>
            </thread>
            <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ items.product.name }}</td>
                    <td>{{ items.product.price }}</td>
                    <td>{{ items.quantity }}</td>
                    <td>{{ items.product.price * item.quantity }}</td>
                    <td>
                        <a href="" class="btn btn-danger btn-sm"></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
    <p>Surprise, c'est vide !</p>
    {% endif %}

{% endblock %}