
<Section>
    <div class="banner" style="background-image: url('shopimages/11.jpg');background-repeat: no-repeat">
        <div class="container">
            <div class="row">
                <div class="col-md-6 ml-auto order-md-2 align-self-start">
                    <div class="banner-content">
                        <h2 class="first-title">The store for happy cats</h2>
                        <h1>Welcome</h1>
                        <p>The most ingenious pet products on the planet!</p>
                        <a href="#" class="btn btn-hero">Shop Now !</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</Section>
<!--End of Hero -->

<section>
    <div class="product-panel">
        <div class="container">




