
<!--hero Image-->

<Section>
    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-md-6 ml-auto order-md-2 align-self-start">
                    <div class="banner-content">
                        <h2 class="first-title">A pet at Home is a must</h2>
                        <h1>Welcome</h1>
                        <p>You can find yours beloved with us.</p>
                        <a href="#" class="btn btn-hero">Adopt Now</a>
                    </div>
                </div>
                <div class="col-md-6 order-1 align-self-end">
                    <img src="shopimages/cat.jpg" alt="Image" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</Section>
<!--End of Hero -->

<section>
    <div class="product-panel">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h2 class="text-center">Pets For Adoption</h2>
                    </div>
                </div>
            </div>



