<Section>
    <div class="banner" style="background-image: url('shopimages/MyDog.png')">
        <div class="container">
            <div class="row">
                <div class="col-md-6 ml-auto order-md-2 align-self-start">
                    <div class="banner-content">
                        <h2 class="first-title">Come. Shop. Wag Tail. Go Home</h2>
                        <h1>Welcome</h1>
                        <p>All you need. All in one place.</p>
                        <a href="#" class="btn btn-hero">Shop Now !</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</Section>
<!--End of Hero -->

<section>
    <div class="product-panel">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h2 class="text-center">Pets For Adoption</h2>
                    </div>
                </div>
            </div>



