<Section>
    <div class="banner">
        <div class="container">
            <div class="row">

                <div class="col-md-6 ml-auto order-md-2 align-self-start">
                    <div class="banner-content">
                        <h2 class="first-title">Your pet’s favorite store</h2>
                        <h1>Welcome</h1>
                        <p>Your pet deserves the best</p>

                        <a href="#" class="btn btn-hero">Shop Now</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</Section>

<br><br>
<section>
    <div class="product-panel">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h2 class="text-center" style="font-family: 'Pattaya', sans-serif">The most ingenious pet products on the planet!</h2>
                    </div>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-12">
                    <div class="product-detail">
                        <div class="nav-main">
                            <!---Tab Sec-->
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab"href="#Fish"
                                       role="tab">Fish</a></li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab"href="#Cat"
                                       role="tab">Cat</a></li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab"href="#Dog"
                                       role="tab">Dog</a></li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab"href="#Bird"
                                       role="tab">Bird</a></li>
                            </ul>
                        </div>
