{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}
{% block addSheets %} <link rel="stylesheet" href="layout.css"> {% endblock %}
{% block body %}
    <div class="container">
        {{ form(form) }}
    </div>
{% endblock %}
