{% extends 'base.html.twig' %}

{% block title %}Health{% endblock %}
{% block addSheets %}
    <link rel="stylesheet" href="layout.css">
    <link rel="stylesheet" href="{{ asset('health.css') }}" >

{% endblock %}
{% block body %}
    <h1 class="titre">6 Facts You Must Know About Cat Food</h1>
<div class="artic">
    <div>
    <p>Your cat is just like any other member of your family. You want to be sure you’re making the best choices for their health, including the food you buy. But with so many pet food brands and ingredients on store shelves, pet parents can easily get confused.</p>

        <p> A nutritious diet for your feline isn’t as hard to serve as it may seem. Some tips from the pros can help you avoid some common mistakes.</p>

        <h2>1/There’s not one best kind of protein.</h2>
        <p>Cats need animal protein, fat, and other vitamins and minerals -- and they can get these nutrients from many different sources. The protein in commercial cat foods can come from chicken, poultry, beef, lamb, fish, liver, or meat or chicken “byproducts,” also called “meal.”</p>

        <p>For a healthy cat without food allergies, any of these ingredients (in either wet or dry form) are fine choices, says Joseph Wakshlag, DVM, an associate professor at Cornell University College of Veterinary Medicine.</p>

        <p>  Instead of worrying about specific ingredients, look for a food’s nutritional guarantee. Its label should say that tests by the Association of American Feed Control Officials (AAFCO) have shown that the product “provides complete and balanced nutrition,” or that it “is formulated to meet the nutritional levels established by the AAFCO Cat Food Nutrient Profiles.” Foods (or treats) that don’t have one of these statements shouldn’t be your cat’s main meal.</p>

        <h2>2/Byproducts aren’t bad</h2>
        <p> Some brands claim their food is better because it doesn’t have animal byproducts or byproduct meals. These ingredients are ground-up parts of animal carcasses, and can include necks, feet, intestine, and bone.</p>

        <p> “But I’m actually a big fan of using byproducts,” Wakshlag says. “They have way more nutrients than straight meat. In chicken byproduct, for example, you’ll get things like vitamin A, vitamin D, zinc, and copper -- instead of just the protein in a chicken breast.”</p>


    <h2>3/Even carnivores need carbs</h2>
        <p> Grains and other carbohydrates in cat foods get a bad rap.

        <p> “But just because cats are true carnivores does not mean that carbohydrates are bad for them,” says Sherry Sanderson, DVM, a veterinary nutritionist at the University of Georgia. She’s seen a trend toward low-carb diets for felines in the last 10 years, but she warns against them. Low-carb usually means high fat, she says, which puts pets at risk for obesity and diabetes.</p>

        <p>  Another popular pet food myth: Grains are just “filler” ingredients with no real nutrients. “Grains provide a lot of essential nutrients that both dogs and cats -- and people -- require,” Sanderson says.</p>

        <p> And if you worry that your kitty is allergic to grains, you’re not totally off-base -- some cats can be, but most aren’t. In fact, it’s more common for them to be allergic to animal proteins.</p>
        <h2>4/Different ages have different needs.</h2>
        <p>Kittens need docosahexaenoic acid (DHA), a type of healthy fat that’s important for brain and eye growth. “If a product says it contains omega-3 fatty acids, look more closely to find out which type it contains,” Sanderson says. Plant-based omega-3s, like those in flaxseed, aren’t good sources of DHA.

        <p> For adult cats, Sanderson recommends foods that have fish oil -- which give them DHA and also reduce inflammation -- and probiotics, which feed their healthy gut bacteria. Cats also need different nutrients, like more fat, as they get older. When your feline turns 7, ask your vet if you should switch to a senior formula.

        <h2> 5/A higher price doesn’t always mean better quality.</h2>
        <p>Instead of buying food based on price, Sanderson likes to research the ethics and manufacturing practices of pet food companies. She likes brands that have their own production plants and that do research on their diets to support the claims they make.

        <p>“If a company is making a lot of money but puts it all into advertising and none into research -- or they tell consumers things like it is bad to feed byproducts or grains -- in general, I don’t recommend those diets,” she says.

        <p>The FDA regulates all pet food and requires brands to meet certain standards to be sold in the U.S. Still, she says, “I generally would stay away from really inexpensive food, because ingredients can vary in quality.”

        <h2>6. You could be feeding Fluffy too much.</h2>
        <p>“Overeating is the number one problem we see in both cats and dogs,” Wakshlag says.


        <p>According to the Association for Pet Obesity Prevention, about 58% of cats in America are overweight. Their risk for weight problems is higher than dogs’, in part because they often don’t get as much exercise as their canine friends.

        <p>Get advice from your vet about how many calories your pet should eat every day, and check food labels to make sure you’re serving portions that match those needs. And think twice before you leave a heap of food out for your cat to graze on all day. This may work for some finicky felines, but others will eat more than they should. If it works with your schedule, split up the food into two servings a day.
    </div>
    <div>
        <img src="media/catfoto4.jpg" alt="catfoto" style="width: 300px;margin-bottom: 250px">
        <img src="media/catfoto5.jpg" alt="catfoto" style="width: 300px;margin-bottom: 250px">
        <img src="media/catfoto6.jpg" alt="catfoto" style="width: 300px;margin-bottom: 250px">
    </div>
</div>
    <div>
        <h2>More info in this video:</h2>
        <iframe style="margin-left: 150px" width="560" height="315" src="https://www.youtube.com/embed/qAuBCUqQHoY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
{% endblock %}
