{% extends 'base.html.twig' %}

{% block title %}Health{% endblock %}
{% block addSheets %}
    <link rel="stylesheet" href="layout.css">
    <link rel="stylesheet" href="{{ asset('health.css') }}" >

{% endblock %}
{% block body %}
<h1 class="titre">10 signs Your Dog Is Sick</h1>
<div class="artic">
    <div>
       <p> As is the case with people, a dog’s health changes with age. Unfortunately, our pets age much faster than we do.</p>

        <h2>Symptoms</h2>
        <p>Regardless of your dog’s age, you play a key role in helping her combat illness and remain as healthy as possible. Remember, your dog cannot describe symptoms to you, but she can show you signs of disease. Awareness of the signs of the most common diseases is one way to help reduce your pet’s risk of being affected by them. It’s a little scary to consider that at least 10% of pets that appear healthy to their owners and their veterinarians during annual checkups have underlying diseases</p>

        <h2>The top 10 signs that your dog may be ill:</h2>

        <p>1/Bad breath or drooling</p>
        <p>2/Excessive drinking or urination</p>
        <p>3/Appetite change associated with weight loss or gain</p>
        <p>4/Change in activity level (e.g., lack of interest in doing things they once did)</p>
        <p>5/Stiffness or difficulty in rising or climbing stairs</p>
        <p>6/Sleeping more than normal, or other behavior or attitude changes</p>
        <p>7/Coughing, sneezing, excessive panting, or labored breathing</p>
        <p>8/Dry or itchy skin, sores, lumps, or shaking of the head</p>
        <p>9/Frequent digestive upsets or change in bowel movements</p>
        <p>10/Dry, red, or cloudy eyes</p>
        <p>If your best friend shows symptoms of being ill, you should contact your veterinarian immediately.</p>

        <p>Unfortunately, you may not always recognize that your dog is sick. Often, even the most well-intentioned dog owners attribute the subtle signs of disease to aging.</p>

        <h2> Diagnosis/Treatment</h2>
        <p>Because signs of disease are not always obvious, your veterinarian may recommend preventive care testing as part of your dog’s annual exam.</p>

        <h2>Preventive care testing often includes the following:</h2>

        <p>Chemistry and electrolyte tests to evaluate internal organ status and ensure your dog isn't dehydrated or suffering from an electrolyte imbalance</p>
        <p> Tests to identify if your pet may have heartworm, tick-borne or other infectious diseases</p>
        <p>A complete blood count to rule out blood-related conditions</p>
        <p> Urine tests to screen for urinary tract infection and other disease and to evaluate the ability of the kidneys to concentrate urine</p>
        <p>A thyroid test to determine if the thyroid gland is producing too little thyroid hormone</p>
        <p>An ECG to screen for an abnormal heart rhythm, which may indicate underlying heart disease</p>
        <p> Additional tests may be added on an individual basis. Your veterinarian will recommend the right course for your best friend.</p>

        <h2>Prevention</h2>
        <p>Preventive care screening not only helps to detect disease in its earlier stages, when it is most likely to respond to treatment, it also can help you avoid significant medical expense and risk to your dog’s health if an illness goes undetected. In addition, by establishing your pet’s normal baseline laboratory values during health, your veterinarian—and you—can more easily see when something is wrong with your pet. Annual screening is the best preventive medicine!</p>
    </div>
 <div>
    <img src="media/longfoto2.jpg"alt="longfoto2" style="padding-bottom: 150px;width: 300px">
    <img src="media/longfoto2.png" alt="long picture" style="width: 300px">
 </div>
</div>
 <div>
  <h2>More information in this video: </h2>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/NDKOgGcQZ48" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="margin-left: 150px"></iframe>
 </div>
{% endblock %}