{% extends 'base.html.twig' %}

{% block title %}Health{% endblock %}
{% block addSheets %}
    <link rel="stylesheet" href="layout.css">
    <link rel="stylesheet" href="{{ asset('health.css') }}" >

{% endblock %}
{% block body %}
<h1 class="titre">12 signs of Skin Issues In Dogs</h1>
    <div class="artic">
        <div>
            <p>Skin problems are among the most common reasons dogs end up at the veterinarian’s office.</p>
            <p>A dog’s skin condition can have a wide range of causes, from external parasites like fleas and mites, to allergies and serious endocrine disorders.</p>

            <p>While some dogs’ skin conditions can be treated at home, any worsening skin issue or one that continues beyond one or two weeks without improvement is a good reason to head to your veterinarian.</p>

            <p>Here are some telltale signs of common skin problems for dogs and what could be causing them.</p>
            <h2>Common Signs of Skin Problems for Dogs</h2>
            <p> Find out what could be causing your dog’s skin condition and what you can do about it.</p>

            <h2>1/Rash (Commonly on the Belly)</h2>

                 <p>A rash (redness or irritation) can occur on any part of your dog’s skin but is commonly seen on the belly. Common causes of a dog’s belly rash are:</p>
                     <ul>
                         <li>Contact dermatitis, which is a reaction to coming into contact with something irritating like poison ivy, fertilizer, or lawn chemicals

                         <li>Insect bites

                         <li>Allergies
                    </ul>
            <p> If contact dermatitis is suspected, wash the affected skin to remove any of the irritant that may still be present.</p>

            <p>For a rash caused by insect bites that doesn’t appear to be bothering your dog, no treatment is necessary. The spots should go away on their own.</p>

            <p>For a rash caused by insect bites or allergies that is bothering your dog, give your dog a cool bath using a dog shampoo containing colloidal oatmeal. Contact your veterinarian if the rash persists.</p>

            <h2>2/Scabs</h2>
            <p> Scabs, or crusting of the skin, can be the primary problem, or it can occur after a short-lived pustule (or pimple) pops and crusts over. Scabs on dogs can be caused by:</p>
            <ul>
            <li>Puppy impetigo

                <li>Ectoparasites (mites and fleas)

                <li>Pyoderma (skin infection; wrinkly dog breeds can have skin fold pyoderma)
                </ul>
            <p>Treatments will differ, but they may include medicated shampoos or ointments, and possibly oral antibiotics or an antiparasitic medication.</p>

            <h2>3/Red Spots</h2>
            <p>Red spots on a dog’s belly during the late spring and early summer can be caused by black fly bites. These flat, red spots typically do not bother dogs and can be left untreated.</p>

            <p>Black fly bites can be confused with ringworm spots, which do require treatment in the form of topical or oral antifungals.</p>

            <p>Black fly bites will appear suddenly, be accompanied by other bites, be confined to the belly, and not bother the dog.</p>

            <p>Ringworm, on the other hand, can appear anywhere, may or may not irritate your dog, and usually starts in one area as opposed to several areas appearing at once.</p>

            <h2>4/Small Red Bumps</h2>
            <p>Raised red bumps can be caused by several different things. If the bumps are smaller and include crusts, they may be caused by a bacterial or fungal skin infection called folliculitis. This is typically treated by your veterinarian with oral antibiotics and possibly with medicated shampoos or ointments.</p>

            <h2>5/Large Red Bumps</h2>
            <p>If the bumps are larger and flatter with no crusting, they may be hives caused by an allergic reaction. They are usually treated with an antihistamine and/or steroids. While usually not life-threatening, the swelling caused by an allergic reaction can obstruct the airway, so it’s important to contact your veterinarian immediately.</p>

            <h2>6/Redness/Irritated Skin</h2>
            <p>Along with itching, redness and irritation are often the most common signs of allergies in dogs. Finding the cause of the allergic reaction, whether it’s to a food, fleas, or something in their environment, is the most effective way to treat the irritated skin.</p>

            <p>While the root cause is being discovered, and to give your dog temporary relief, a gentle oatmeal dog shampoo or oatmeal bath can be used to soothe and hydrate the skin.</p>

            <h2>7/Hot Spots</h2>
            <p>A hot spot is a moist, irritated area of skin, usually with hair matted over it. Hot spots are caused by excessive licking or chewing of an area. The excessive licking introduces bacteria to traumatized skin, causing the hot spot.</p>

            <p>Hot spots are more common in hot, humid climates and will sometimes arise after a dog has been exposed to moisture from swimming or muddy/rainy weather. They are also more common in dogs with a dense undercoat.</p>

            <p>Uncomplicated hot spots can be treated by carefully clipping the area to allow the skin to breathe and cleaning the area with a diluted chlorhexidine solution. You can prevent hot spots by keeping your dog groomed and drying them after swimming or being in the rain.</p>

            <h2>8/Dry/Flaky Skin</h2>
            <p>Flaking of your dog’s skin can be caused by more serious conditions like seborrhea, where a dog produces too much sebum, or cheyletiellosis, a condition caused by a mite that’s also known as “walking dandruff.”</p>

            <p>But these flakes can also simply be a sign of dry skin. Ensuring that your dog is fed a good-quality food that is high in omega-3 and omega-6 fatty acids is a good first step in maintaining their skin health. If the flaking continues, consult your veterinarian.</p>

            <h2>9/Itchy Skin</h2>
            <p>The two main causes of itchy skin are allergies and external parasites like fleas and mites.</p>
            <ul>
            <li>Allergies
            <li>Itchiness due to allergies usually involves a dog’s feet, armpits, flank, ears, and groin. Mild allergies or itchiness can be treated with a soothing dog shampoo containing oatmeal. Switching your dog to a sensitive-skin diet (which often contain fish as the main protein source and are high in omega-3 and omega-6 fatty acids) can also help.</p>

            <li>External Parasites
            </ul>
            <p>Fleas will more commonly cause itchiness at the base of the tail, on the stomach, and along the inner thighs. Itchiness due to fleas and mites (that cause sarcoptic mange) will needed to be treated with medications specific to the type of parasite, such as a flea preventative.</p>

            <h2>10/Hair Loss/Bald Patches</h2>
            <p>The causes of hair loss, excessive shedding, or bald patches in dogs are extremely varied, including:</p>
                    <ul>
                         <li>Allergies

                        <li>Ectoparasites like fleas and mange mites (demodectic mange)

                        <li> Cushing’s disease

                        <li> Pressure sores, most often seen in large breed dogs, will cause hair loss at bony pressure spots like the elbow

                        <li> Genetics

                        <li> Stress

                        <li> Poor nutrition
                    </ul>
            <p>Most causes of hair loss in dogs require a trip to the veterinarian to diagnose the cause. If you suspect pressure sores, ensuring your large breed dog has a cushioned place to lie down can help prevent the pressure sores.</p>

                    <h2>11 Sores</h2>
            <p>Sores that do not have an obvious cause or are not healing properly could be the sign of a serious underlying condition such as cancer or another disorder that is preventing proper healing. These areas should be kept clean and seen by your veterinarian.</p>

                    <h2>12 Dark Spots</h2>
            <p>Dark spots, or hyperpigmentation, can be secondary to chronic inflammation, in which case, they can clear up (slowly) if the underlying condition is treated. Dark spots on dogs can also indicate a hormone-associated disorder or be a sign of skin damage from the sun, trauma, or constant friction.</p>
        </div>
        <div>
        <img src="media/longpicture1.jpg" alt="long picture">

        </div>
    </div>
    <div>
        <h2>More Information In This Video
        </h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/gogHgzpzjhk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="margin-left: 150px"></iframe>
    </div>
{% endblock %}